/* General page styles */
html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #292F36;
  color: #ffffff;
}

/* Container styles */
.container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  padding: 1rem;
  background-color: #292F36;
  box-sizing: border-box;
  border-right: 1px solid #1A1A1A;
}

/* Sidebar list styling */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #4d4d4d;
}

/* Content styles */
.content {
  flex: 1;
  padding: 1rem;
  background-color: #292F36;
  box-sizing: border-box;
}

/* Image styles */
.dune_dream_install_img,
.create_project_img,
.create_files_img,
.dune_project_config_img,
.dune_config_img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.web_frameworks_img {
  width:600px;
  height: auto;
  border-radius: 5px;
  border: 1px soild #ffffff;
  margin-top: 20px;
 
}

.imperative_img,
.functional_img {
  width: 530px;
  height: auto;
  border-radius: 5px;
  vertical-align: top; 
}

/* Headings styles */
h1, h2 {
  color: #00BFFF;
}

/* Links within the content */
.content a {
  color: #ffffff;
  text-decoration: none;
}

.content a:hover {
  color: #4d4d4d;
}
/* Table container styling */
.imperative-vs-functional-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  color: #ffffff;
  background-color: #1A1A1A;
  border-radius: 8px;
  overflow: hidden;
}

/* Table header styling */
.imperative-vs-functional-table thead tr {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #4d4d4d; 
}

/* Table rows styling */
.imperative-vs-functional-table tbody tr {
  border-bottom: 1px solid #4d4d4d; /* Subtle row divider */
}


/* Table cell styling */
.imperative-vs-functional-table th,
.imperative-vs-functional-table td {
  padding: 12px 15px;
  text-align: left;
}

/* Align the table content */
.imperative-vs-functional-table td {
  vertical-align: top;
}

/* Optional: Table links styling */
.imperative-vs-functional-table a {
  color: #00BFFF;
  text-decoration: none;
}

.imperative-vs-functional-table a:hover {
  color: #4d4d4d;
}
