body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 100px;
    padding: 1rem;
    background-color: #f4f4f4;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 0.5rem 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  
  .content {
    flex: 1;
    padding: 1rem;
  }
  